@{
  Layout = "_Layout";
}

@model University.Models.Student

<div class="jubmotron">
  <h1>Add a Department Here!</h1>
</div>

<h4>Assign @Html.DisplayFor(model => model.Name) to a course: </h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.Label("Select Department")
  @Html.DropDownList("DepartmentId")
  <br>
  <input type="submit" value="Add To Department" />
}